<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comments</title>

    <!-- Load Tailwindcss -->
    <link href="/static/output.css" rel="stylesheet">
</head>

<script>
    function postNewComment() {
        const comment_body = document.getElementById("comment_body").value;
        const kyoku_id = "{{- .kyoku.ID }}";

        fetch('/api/comments_logged_in', { 
            method: 'POST',
            body: JSON.stringify({
            "comment_body": comment_body, 
            "kyoku_id": parseInt(kyoku_id)
        }) })
            .then((response) => response.json())
            .then((data) => console.log(data))
            .catch(error => console.error(error));
        window.location.replace("/kyoku/" + kyoku_id);
    }
</script>

<body class="bg-gray-800">


    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a href="/" class="flex items-center">
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Top</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="/login" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">
                    Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      

    <div class="container-fluid text-center">
        <div class="row content">
            <!-- Center area -->
            <div>

                <div class="bg-gray-800">
                    <h1 class="text-center text-gray-200 text-2xl">曲情報</h1>
                    <section class="py-5 text-center">
                        <div>
                            <h3 class="text-gray-200 font-bold text-xl mb-2">
                                <a href="/artist/{{- (index .kyoku.Artists 0).ID }}">{{- (index .kyoku.Artists 0).Name }}</a>
                            </h3>
                            <p class="text-gray-200 font-bold text-xl mb-2">
                                {{- .kyoku.Title }}
                            </p>
                        </div>
                    </section>
                </div>

                <div class="bg-gray-800">
                    <h2 class="text-center text-gray-200 text-2xl">コメント</h2>
                    <div class="grid grid-cols-3 gap-4 bg-gray-800">
                        {{ range .comments }}
                            <div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-800 text-gray-100 hover:bg-gray-600 m-4">
                                <div class="px-6 py-4">
                                    <h3 class="text-gray-200 font-bold text-xl mb-2">{{ .Body }}</h3>
                                    <p class="text-gray-200 font-bold text-base mb-2">by {{ .User.DisplayName }}</p>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div class="bg-gray-800">
                    <div class="grid place-items-center h-screen">
                        <div class="w-full max-w-xs">
                            <form 
                                class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="comment_body">
                                Comment
                                </label>
                                <input 
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="comment_body" 
                                    name="comment_body"
                                    type="text" 
                                    placeholder="Comment">
                            </div>
                            <div class="flex items-center justify-between">
                                {{ if eq .logged_in true }}
                                <button 
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                                    type="button"
                                    onclick="postNewComment()">
                                Post new comment!
                                </button>
                                {{ else }}
                                <button 
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                                    type="button"
                                    onclick="window.location.href='/login';">
                                Login before posting comments!
                                </button>    
                                {{ end }}
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>