<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comments</title>

    <!-- Load Tailwindcss -->
    <link href="/static/output.css" rel="stylesheet">
</head>

<script>
    async function postNewComment() {
        const comment_body = document.getElementById("comment_body").value;
        const kyoku_id = "{{- .kyoku.ID }}";

        try {
            const postCommentRes = await fetch('/session/comments_logged_in', { 
                method: 'POST',
                body: JSON.stringify({
                "comment_body": comment_body, 
                "kyoku_id": parseInt(kyoku_id)
            }) })
        } catch(error) {
            console.error(error)
        }

        // console.log(postCommentRes.json())
        window.location.href = "/kyoku/" + kyoku_id;
    }
</script>

<body class="bg-gray-800">


    {{ template "navbar" . }}
      

    <div class="container-fluid text-center">
        <div class="row content">
            <!-- Center area -->
            <div>

                <div class="bg-gray-800">
                    <h1 class="text-center text-gray-200 text-2xl">曲情報</h1>
                    <section class="py-5 text-center">
                        <div>
                            <h3 class="text-gray-200 font-bold text-xl mb-2">
                                <a href="/artist/{{- (index .kyoku.Artists 0).ID }}">{{- (index .kyoku.Artists 0).Name }}</a>
                            </h3>
                            <p class="text-gray-200 font-bold text-xl mb-2">
                                {{- .kyoku.Title }}
                            </p>
                        </div>
                    </section>
                </div>

                <div class="bg-gray-800">
                    <h2 class="text-center text-gray-200 text-2xl">コメント</h2>
                    <div class="grid grid-cols-3 gap-4 place-items-center bg-gray-800">
                        {{ range .comments }}
                            <div class="w-full max-w-sm rounded overflow-hidden shadow-lg bg-gray-800 text-gray-100 hover:bg-gray-600 m-4">
                                <div class="px-6 py-4">
                                    <h3 class="text-gray-200 font-bold text-xl mb-2">{{ .Body }}</h3>
                                    <p class="text-gray-200 font-bold text-base mb-2">by {{ .User.DisplayName }}</p>
                                </div>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div class="bg-gray-800">
                    <div class="grid place-items-center h-screen">
                        <div class="w-full max-w-xs">
                            <form 
                                class="bg-gray-700 border-gray-400 border-2 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            <div class="mb-4">
                                <label class="block text-gray-200 text-sm font-bold mb-2" for="comment_body">
                                コメント
                                </label>
                                <input 
                                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                                    id="comment_body" 
                                    name="comment_body"
                                    type="text" 
                                    placeholder="Comment">
                            </div>
                            <div class="flex items-center justify-between">
                                {{ if eq .logged_in true }}
                                <button 
                                    class="bg-gray-700 hover:bg-gray-900 border-gray-400 border-2 text-white shadow-lg font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                                    type="button"
                                    onclick="postNewComment()">
                                コメントを投稿する！
                                </button>
                                {{ else }}
                                <button 
                                    class="bg-gray-700 hover:bg-gray-900 border-gray-400 border-2 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                                    type="button"
                                    onclick="window.location.href='/login';">
                                コメントを投稿するにはログインしてください！
                                </button>    
                                {{ end }}
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>