<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>New Comment</title>

    <!-- Load Tailwindcss -->
    <link href="/static/output.css" rel="stylesheet">
</head>

<script>
    window.onload = kyokuIdOnChange;

    async function postNewComment() {
        const comment_body = document.getElementById("comment_body").value;
        const kyoku_id = document.getElementById("kyoku_id").value;

        try {
            const postCommentRes = await fetch('/session/comments_logged_in', { 
                method: 'POST',
                body: JSON.stringify({
                "comment_body": comment_body, 
                "kyoku_id": parseInt(kyoku_id)
            }) })
        } catch(error) {
            console.error(error)
        }

        // console.log(postCommentRes.json())
        window.location.href = "/kyoku/" + kyoku_id;
    }

    function kyokuIdOnChange() {
        const kyoku_id_element = document.getElementById("kyoku_id");

        kyoku_id_element.addEventListener("change", () => getKyokuTitleByKyokuId())
    }

    function getKyokuTitleByKyokuId() {
        const kyoku_id = document.getElementById("kyoku_id").value;

        fetch('/api/kyokus/' + kyoku_id, { 
            method: 'GET'
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                const kyokuTitleByKyokuIdElement = document.getElementById("kyokuTitleByKyokuId");
                kyokuTitleByKyokuIdElement.textContent = "Title: " + data.kyoku_title;
            })
            .catch(error => console.error(error));
    }
</script>

<body class="bg-gray-800">
    <div class="grid place-items-center h-screen">
        <div class="w-full max-w-xs">
            <form 
                method="POST" 
                action="/api/comments" 
                class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="comment_body">
                コメント
                </label>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="comment_body" 
                    name="comment_body"
                    type="text" 
                    placeholder="Comment">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="kyoku_id">
                曲ID
                </label>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
                    id="kyoku_id" 
                    name="kyoku_id"
                    type="number" 
                    placeholder="Kyoku id"
                    value="{{ .kyokuId }}">
                <span id="kyokuTitleByKyokuId"></span>
            </div>
            <div class="flex items-center justify-between">
                <button 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                    type="button"
                    onclick="postNewComment()">
                コメントを投稿する！
                </button>
            </div>
            </form>
        </div>
    </div>

</body>
</html>