<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>キョクを追加する</title>

    <!-- Load Tailwindcss -->
    <link href="/static/output.css" rel="stylesheet">
</head>

<script>
    async function postNewKyoku() {
        const kyoku_title = document.getElementById("kyoku_title").value;
        const artist_name = document.getElementById("artist_name").value;

        try {
            const postKyokuRes = await fetch('/api/kyokus', { 
                method: 'POST',
                body: JSON.stringify({
                "kyoku_title": kyoku_title, 
                "artist_name": artist_name
                }) 
            });
        } catch(error) {
            console.error(error)
        }

        // console.log(postKyokuRes.json())
        window.location.href = "/";
    }
</script>

<body class="bg-gray-800">

    {{ template "navbar" . }}

    <div class="grid place-items-center h-screen">
        <div class="w-full max-w-xs">
            <form 
                method="POST" 
                action="/api/kyokus" 
                class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="kyoku_title">
                曲の名前
                </label>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                    id="kyoku_title" 
                    name="kyoku_title"
                    type="text" 
                    placeholder="Kyoku title">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="artist_name">
                アーティストの名前
                </label>
                <input 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
                    id="artist_name" 
                    name="artist_name"
                    type="text" 
                    placeholder="Artist name">
            </div>
            <div class="flex items-center justify-between">
                <button 
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                    type="button"
                    onclick="postNewKyoku()">
                曲を追加する！
                </button>
            </div>
            </form>
        </div>
    </div>

</body>
</html>